body {
    background-image: url('../img/wall3.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    color: purple;
    font-family: URW Chancery L, cursive;
}

.profile {
    text-align: center;
    
}

.me { display: block; 
    margin-left: auto; 
    margin-right: auto;
    border-radius: 50%;
}

.name {
    text-align: center;
}

h3 {
    text-align: center;
}

.projects{
    text-align: center;
    margin-right: 20%;
}

.rap {
    color: black;
}

.social {
    margin: 12px;
    border: 5px solid lightsalmon;
    padding: 4px;
    text-align: center;
    font-family: 'Courgette', cursive;
}

.media {
    text-align: center;
}

.icons {
    text-align: center;
    margin-top: 5%;
}

.banner {
    text-align: center;
}

.activities {
    text-align: center;
    list-style: none; 
}

.quotes {
    margin-top: 50%;
}

.fbigli {
    margin-top: 30%;
    margin-left: 25%;
}