/* body {
    background-image: url('../img/portland.jpeg');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
     
} */

.container {
    color: purple;
    font-family: URW Chancery L, cursive;
}



.me { display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.name {
    text-align: center;
}

h3 {
    text-align: center;
}

.projects{
    text-align: center;
    margin-right: 20%;
}

.social {
    margin-top: 38%;
    text-align: center;
    font-family: 'Courgette', cursive;
}

.media {
    text-align: center;
}

.icons {
    text-align: center;
    margin-top: 15%;
}

